@model IEnumerable<string>

<h1> About View : Home</h1>

@* <p>Msg : @TempData["Message"]</p> *@
@{
    // <p style="color:orangered">@ViewBag.Name</p>
    // <ol>
    //     @foreach (string name in Model)
    //     {
    //         <li>@name</li>
    //     }
    // </ol>
    // Razor Code Block :  targets ViewEngine
    // <ul>
    // @for (int i = 0; i < 10; i++)
    // {
    //     <li>@i</li>
    // }
    // </ul>
}

@{

    // var collection = ViewData["numbers"] as int[];
    // @foreach (int no in collection)
    // {
    //     <p>@no</p>
    // }

    // var collection = ViewData["numbers"] as int[];
    // @foreach (int no in ViewBag.numbers)
    // {
    //     <p>@no</p>
    // }

}