<h1> Index View : Home</h1>
<br/>

@* <p>Msg : @TempData["Message"]</p> *@
@{
    // <p style="color:orangered">@ViewBag.Name</p>
    // <ol>
    //     @foreach (string name in ViewBag.Fruits)
    // {
    //     <li>@name</li>
    // }
    // </ol>
    //----------------------------------------
    // <ol>
    // @foreach (string name in Model)
    // {
    //     <li>@name</li>
    // }
    // </ol>
    //----------------------------------------------
    // Razor Code Block :  targets ViewEngine
    // <ul>
    // @for (int i = 0; i < 10; i++)
    // {
    //     <li>@i</li>
    // }
    // </ul>
}