<h1>About</h1>
@{
    Layout = @ViewData["Layout1"] as string;
}
<br />
<p>@ViewData["ActionFilterMessage"]</p><br/>
<p>@ViewData["ElapsedTicks"] </p><br/>
<p>@ViewData["OnActionExecuted"]</p>
<br />
<p>@ViewData["OnResultExecuting"]</p>
<p>@ViewData["OnResultExecuted"]</p>