<h1>Index</h1>
<br />
<p>@ViewData["ActionFilterMessage"]</p><br/>
<p>@ViewData["ElapsedTicks"] </p><br/>
<p>@ViewData["OnActionExecuted"]</p>
<br />
<p>@ViewData["OnResultExecuting"]</p>
<p>@ViewData["OnResultExecuted"]</p>