@model _10Demo_TagHelpers.Models.NewUser
@{
    ViewData["Title"] = "GetNewUserDetails";
}

<h1>GetNewUserDetails</h1>
<p>@Model.Name</p>
<p>@Model.Age</p>
<p>@Model.Gender</p>
<p>@Model.Email</p>
<p>@Model.isMarried</p>
<p>@Model.Address</p>
<p>@Model.PhNo</p>
<p>@Model.Enquiry</p>

